<header id="search_header">
    <h1>Point.Place</h1>
    <div class="top_menu">
    <a href="" class="j-topmenu_search"><span class="search"></span></a>
    </div>
</header>

<div id="content" class="search">
<div title='Welcome' id="search" class="panel" data-footer="none" data-header="search_header">
<div class="subheader">
<div class="location-wrapper j-location_bar">
<span class="label">Near :</span>
<input type="text" name="text-basic" id="text-basic" value="" class="location-input j-location-input" placeholder="hauz khas market"/>
<img src="assets/ajax-loader.gif" style="display:none; opacity: .5; float: "> -->
<div style="clear:both"></div>
</div> 
</div>
<div data-role="fieldcontain" class="searchcontain">
<div class='icon magnifier black small'></div>
<input type="text" name="query" id="query" value="" placeholder="Search for places" autocomplete="off" data-iconpos="notext" class="jq-ui-forms"/>
</div>
<div class="browse-wrapper">
<div class="browse-option"><div class='icon settings black big'></div>Trending</div>
<div class="browse-option"><div class='icon heart black big'></div>Deals</div>
<div class="browse-option"><div class='icon star black big'></div>Top Rated</div>
<div class="browse-option"><div class='icon graph black big'></div>Active</div>
<div class="browse-option"><div class='icon basket black big'></div>Apparels</div>
<div class="browse-option"><div class='icon info black big'></div>Tech</div>
<div class="browse-option"><div class='icon magnifier black big'></div>Brands</div>
<div class="browse-option"><div class='icon magnifier black big'>Hit me</div></div>
</div>
<div class="user-card"
<img>
<span class="name"></span>
<span class="name"></span>
</div>
</div>
</div>
</div>