<!-- this is the header div -->
        <div id="header">
            <h1>Pointplace</h1>
        </div>

        
        <div id="content">
            <!-- here is where you can add your panels -->
             <div title='Welcome' id="dummy" class="panel" selected="true"> 
                this is dummy
             </div>

        </div>

        <!-- bottom navbar.  Add additional tabs here -->
        <div id="navbar">
            <a href="#home" id='navbar_home' class='icon home' >home</a>
        </div>
        
